name: Lint code using ruff

on:
  push:
  pull_request:

permissions:
  contents: write

jobs:
  linters:
    runs-on: ubuntu-latest
    if: github.repository == 'cogent3/citeable'
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref || github.ref_name }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Format code using ruff
        run: uv run nox -s fmt
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: ${{ github.actor }}
          author_email: ${{ github.actor }}@users.noreply.github.com
          message: "STY: pre-commit linting with ruff"
          add: "."
